body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
:root {
  --color1: #434455;
  --color2: #2E2F42;
}
.contact .link {
    color: #434455;
    font-size: 16px;
    line-height: 24px;
}
.contact .link:hover,
.contact .link:focus {
  color: #404BBF;
}
.header .link {
    color: #2E2F42;
    font-size: 16px;
    line-height: 24px;
}
.header .link:hover,
.header .link:focus {
    color: #404BBF;
}
.header > a {
 font-family: "Raleway", sans-serif;
 font-size: 18px;
 line-height: 21px;
 color: #4D5AE5;
 text-transform: uppercase;
 text-decoration: none;
 font-weight: 800px;
 letter-spacing: 0.03em;
}
.header .span-a {
 font-family: "Raleway", sans-serif;
 font-size: 18px;
 line-height: 21px;
 color: #2E2F42;
 text-transform: uppercase;
 text-decoration: none;
 font-weight: 800px;
 letter-spacing: 0.03em;
}
.text {
    color: #2E2F42;
    font-size: 16px;
    line-height: 24px;
}
.text:hover,
.text:focus {
    color: #404BBF;
}
.button {
    color: #4D5AE5;
    background-color: #F4F4FD;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto";
    text-align: center;
    letter-spacing: 0.04em;
    font-style: normal;
    font-weight: 500;
}
.button:hover,
.button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}
.photos .title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}
.photos .text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
.footer > a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800px;
}
.footer .span-a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #F4F4FD;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800px;
}
.footer p {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 24px;
}
footer {
    background-color: #2E2F42;
}
.section-title {
    background-color: #2E2F42;
    text-align: center;

}
.title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.2px;
}
.order-service {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
}
.order-service:hover,
.order-service:focus {
    background-color: #404BBF;
}
.section-two h3 {
    color: var(--color2);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.section-two p {
    color: var(--color1);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.section-three h2 {
    color: var(--color2);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
}
.section-four h3 {
    color: var(--color2);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.section-four p {
    color: var(--color1);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}